<div class="min-h-screen bg-gray-100 flex flex-col">
    <!-- Header -->
    <div class="text-3xl font-bold text-center py-4">Github ID Search</div>
  
    <!-- Main content -->
    <div class="flex-grow flex flex-col items-center justify-start px-4 overflow-auto">
        <!-- Search bar-->
        <div class="w-full max-w-4xl flex flex-col items-center">
            <div class="flex items-center w-full max-w-4xl gap-4 mb-4">
                <input
                type="text"
                [(ngModel)]="username"
                placeholder="Enter GitHub username"
                class="form-input-custom px-4 py-2 border-2 border-gray-500 rounded-md flex-1"
                />
                <button
                (click)="searchUser(username)"
                class="bg-black hover:bg-gray-800 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out"
                >
                Search
                </button>
            </div>
            <!-- Dropdown for selecting page size -->
            <select
            [(ngModel)]="pageSize"
            (change)="loadRepos(username, 1, pageSize)"
            class="form-select block w-full py-2 mt-2 text-gray-700"
            >
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            </select>
        </div>
  
        


        <!-- User Information Display with Card Layout -->
        <div *ngIf="users && !isLoading" class="text-center p-2 mt-7 mb-2">
            <div class="max-w-4xl mx-auto">
              <div class="bg-white rounded-xl shadow-md overflow-hidden">
                <div class="md:flex md:items-center">
                    <!-- User Image -->
                    <div class="md:flex-shrink-0 rounded-full overflow-hidden">
                        <img [src]="users.avatar_url" alt="User Image" class="h-40 w-full object-cover md:w-32">
                        <a href="{{ users.html_url }}" target="_blank" class="block mt-2 text-blue-500 hover:text-blue-800">{{ users.html_url }}</a>
                    </div>
                    <!-- User Details -->
                    <div class="p-4 md:w-96 md:ml-4">
                        <div class="bg-white rounded-xl shadow-md overflow-hidden">
                            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">
                                {{ users.login }}
                            </div>
                            <a href="{{ users.html_url }}" target="_blank" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">
                                {{ users.name }}
                            </a>
                            <p class="mt-2 text-gray-500">
                                {{ users.bio }}
                            </p>
                            <p class="mt-2 text-gray-500">
                                {{ users.location }}
                            </p>
                            <p *ngIf="users.twitter_username" class="mt-2 text-gray-500">
                                {{ "@" + users.twitter_username }}
                            </p>
                        </div>
                    </div>
                </div>
                
                
            </div>
          </div>
          
  
       
        <!-- Pagination -->
        <div class="py-4 w-full mt-10">
            <div class="max-w-4xl mx-auto flex justify-between items-center">
                <button
                (click)="loadPage(paginationLinks.prev)"
                [disabled]="!hasPreviousPage"
                class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 disabled:opacity-50"
                >
                Previous
                </button>
                <span>Page: {{ currentPage }}</span>
                <button
                (click)="loadPage(paginationLinks.next)"
                [disabled]="!hasNextPage"
                class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700"
                >
                Next
                </button>
            </div>
        </div>
        
        <!-- Repositories Display -->
        <div class="w-full max-w-4xl mt-4 flex-grow">
            <div
                *ngIf="repos && repos.length > 0 && !isLoading"
                class="flex flex-wrap justify-between"
            >
                <div *ngFor="let repo of repos" class="w-full md:w-1/2 p-2">
                    <div class="p-4 border rounded-lg shadow bg-white repository-item">
                        <h4 class="font-bold">{{ repo.name }}</h4>
                        <p>{{ repo.description }}</p>
                        <span
                        class="inline-block bg-blue-500 text-white font-bold py-1 px-2 rounded"
                        >
                        {{ repo.language || "Language not specified" }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
